
.form{
  text-align: start;
}
.card{
  margin-top: 5px;
  
}
.titre{
text-align: center;
color: brown;
background-color: beige;
width: 900px;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.div{
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 800px;
 }
.div2{
  width:1000px;  
}
.input{
  width:800px;
  margin-right: 5px;
  }
.input1{
  padding: 20px;
  background-color:coral;
}
.done{ text-decoration: line-through;
  width:1000px;
  }
.div3{
  margin-left: 6px;
  height: 40px; 
  width: 85px;

}  
.div4{
  margin-left:6px;
  height: 40px; 
  width: 60px;
}  
.div5{
  text-align: center;
  background-color:aliceblue;
}
  


